/* Limita el ancho de los controles al ancho del panel */

.m-panel.m-sidePanel-manager .m-control {
  /* width: 100%; */
  max-width: 100%;
  position: relative;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 -1px 0 rgba(0, 0, 0, .02);
  border-radius: 0 !important;
  background-color: white;
}

.m-panel.m-sidePanel-manager .m-panel-controls {
  width: 100%;
}

/* Cabecera */

.m-panel.m-sidePanel-manager .m-control>div.title {
  background-color: #00897B !important;
  color: white;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  height: 39px;
  border-bottom: 1px solid rgba(0, 0, 0, .13);
  font-size: 15px;
  width: 100%;
}

.m-area.side-panel-area {
  height: 100%;
}

.m-panel.m-sidePanel-manager {
  position: absolute !important;
  margin: 0 !important;
  background-color: transparent !important;
  top: 0;
  left: 0;
  width: 360px;
  /* height: 100%; */
  border-radius: 0;
  box-shadow: none !important;
}

@media only screen and (max-width: 768px) {
  .m-panel.m-sidePanel-manager {
      width: 100vw;
  }
}

.m-panel.m-sidePanel-manager .m-panel-controls {
  margin-top: 0px;
  max-width: initial !important;
  opacity: 1 !important;
  height: 100%;
}

.m-panel.m-sidePanel-manager .m-panel-controls>.side-panel {
  margin-top: 0px;
}

.m-areas>div.m-area>div.m-panel.m-sidePanel-manager.collapsed>div.m-panel-controls {
  opacity: 1;
  max-width: initial;
}

/* Botón de despliegue del panel */

.m-areas>div.m-area.m-left>div.m-panel>button.m-panel-btn,
.m-panel.m-sidePanel-manager button.m-panel-btn {
  background-color: #00897B !important;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 0;
  box-shadow: none;
  font-size: 18px;
}

.m-areas>div.m-area.m-left>div.m-panel>button.m-panel-btn:focus,
.m-panel.m-sidePanel-manager button.m-panel-btn:focus {
  outline: none;
}

/* Botón seleccionado */

.m-areas>div.m-area.m-left>div.m-panel>button.m-panel-btn.active-plugin,
.m-panel.m-sidePanel-manager div.buttons-container button.m-panel-btn.active-plugin {
  background-color: #FF9800 !important;
  color: white;
  font-weight: 600;
  /*#C5E1A5*/
}

.m-panel.m-sidePanel-manager div.group-buttons-container button.m-panel-btn.active-plugin {
  color: #FF9800;
  font-weight: 600;
  /*#C5E1A5*/
}

.m-areas>div.m-area.m-left>div.m-panel>button.m-panel-btn.active-plugin,
.m-panel.m-sidePanel-manager button.m-panel-btn:hover {
  color: white;
  /*#C5E1A5*/
}

.m-areas>div.m-area>div.m-panel.m-sidePanel-manager.collapsed {
  width: 40px;
  border-radius: 0;
}

.m-areas>div.m-area>div.m-panel>div.m-panel-controls>div.sidepanel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  height: 100%;
}

div.sidepanel>.panel-container {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
  max-width: calc(100% - 40px);
  background: rgba(255, 255, 255, 0.7);
  /* background-color: white; */
  /* overflow-y: auto; */
}

div.sidepanel>.panel-container .m-panel.collapsed {
  display: none;
}

div.m-sidePanel-manager.collapsed .buttons-container {
  z-index: 1;
}

div.sidepanel>.buttons-container {
  order: 0;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex: 0 1 auto;
  align-self: stretch;
  width: 40px;
  border-left: 1px solid #ccc;
  background-color: transparent;
}

div.sidepanel>.buttons-container>button.m-panel-btn {
  width: 40px;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  border-right: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
}

/*** Poner color característico a los botones de fuera del sidepanel */

.m-area.m-top.m-right .m-panel {
  background-color: #00897B !important;
}

.m-area.m-top.m-right {
  z-index: 1;
}

.m-area.m-top.m-right button {
  color: white;
}

@media only screen and (max-width: 768px) {
  .m-areas>div.m-area.m-top.top-extra {
      top: 0 !important;
  }
}

/** Poner el color de la info en el color característico */

.m-dialog.info div.m-button>button,
.m-dialog.info div.m-title {
  background-color: #00897B !important;
}

/*############ GROUPS ########################## */

div.sidepanel>.panel-container>.group-panel>.group-buttons-container {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;
  background-color: #00897b;
  color: #fff;
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .13);
}

div.sidepanel>.panel-container>.group-panel>.group-buttons-container>button {
  height: 35px;
  width: 35px;
  padding: 8px;
  font-size: 24px;
  background: 0 0;
  border: none;
  cursor: pointer;
}

/********************************************************************************************************
############################################### HACKS DE PLUGINS ACTUALES
******************************************************************************************************/

/*** Cambio posición control zoom ***/

.ol-zoom {
  right: 8px !important;
}
/*******************
****** measurebar
********************/

.m-panel.m-tools.collapsed{
  display: none;
}

.m-panel.m-measurebar.opened{
  background-color: #ffffff !important;
  opacity: 1!important;
}

.m-panel.m-measurebar.opened > .m-panel-controls > .title{
  background-color: #00897B !important;
  color: white;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  height: 39px;
  border-bottom: 1px solid rgba(0, 0, 0, .13);
  font-size: 15px;
  width: 100%;
}

.m-measurelength-container {
  left: 0px;
  display: inline-flex;
  box-shadow: none !important;
}

.m-measurearea-container {
  left: 0px;
  display: inline-flex;
  box-shadow: none  !important;
}

div.m-control.m-measurelength-container.activated>button{
  color: #FF9800 !important;
}

div.m-control.m-measurearea-container.activated>button{
  color: #FF9800 !important;
}

.m-measureclear-container {
  left: 0px;
  display: inline-flex;
  box-shadow: none !important;
}

.measurebarInfo{
  margin: 10px;
  color: #404040;
}

/*******************
****** wmc
********************/

.m-wmc-container input.tabs:checked+label {
  color: #555;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-color: #ff9800 #ddd #fff;
  border-style: solid;
  border-width: 2px 1px 1px;
}

.m-wmc-container div.button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: table;
  background-color: #ffb74d;
}

/*******************
****** xylocator
********************/

div.m-xylocator-container{
  width: auto !important;
}

.m-xylocator-container>div.m-xylocator-panel div.title {
    background-color: #00897B !important;
    color: white;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    height: 39px;
    border-bottom: 1px solid rgba(0, 0, 0, .13);
    font-size: 15px;
    /* width: 100%; */
}

.m-xylocator-datas{
  padding: 10px !important;
}

div.m-xylocator-container>div.m-xylocator-panel>div.button {
  align-items: center;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: #ffb74d;
}

div.m-xylocator-container>div.m-xylocator-panel>div.button>button {
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.4);
  font-size: 15px;
  line-height: 25px;
  opacity: .75;
  -webkit-transition: opacity .25s ease 0s;
  transition: opacity .25s ease 0s;
  color: #404040;
  width: 39%;
  margin: 10px 5%;
  padding: 5px;
  background-color: #fff;
  font-family: Muli,"sans-serif"!important;
}

#m-xylocator-coordinatesSystem span{
  font-weight: 700 !important;
  color: #404040;
}

/*******************
****** toponomysearch
********************/

.m-toponomysearch-container>.results-panel {
  max-height: none !important;
}

.m-toponomysearch-container>.results-panel >.results {
  max-height: 40vh !important;
}
/*******************
****** searchstreet
********************/

.m-searchstreetgeosearch-container .results-panel-content {
  position: relative !important;
}

.m-geosearch-container .results-panel-content {
  position: relative !important;
}

.m-searchstreet .m-geosearch-container,
.m-searchstreet-container,
.m-searchstreetgeosearch-container {
  top: 0;
}

div.search-panel>input.m-input-search {
  min-width: initial !important;
  width: 100% !important;
}

.m-area.side-panel-area .m-geosearch-container,
.m-area.side-panel-area .m-searchstreet-container,
.m-area.side-panel-area .m-searchstreetgeosearch-container {
  width: 100% !important;
}

@media only screen and (min-width: 769px) {
  .m-geosearch-container,
  .m-searchstreet-container,
  .m-searchstreetgeosearch-container {
      width: initial !important;
  }
}

/*******************
****** catalogsearch
********************/

@media only screen and (min-width: 769px) {
  .m-catalogsearch-container {
      width: 100% !important;
  }
}

/**********************
*******    pan-zoom
**********************/

.m-areas>div.m-area>div.m-panel.m-panzoom {
  /* margin-left: 370px; */
  margin-left: 60px !important;
}

@media only screen and (max-width: 768px) {
  .m-panzoom {
      display: none !important;
  }
}

/**********************
*******    printer
**********************/

.m-printer-container {
  max-height: 100vh;
  overflow-y: auto;
}

.m-printer-container>div.button {
  background-color: #ffb74d;
}

.m-printer-container>div.button>button.print {
  width: 40%;
}

.m-printer-container>div.button>button.remove {
  width: 40%;
}

.m-printer-container>div.queue>ul.queue-container>li.printing:after,
.m-printer-container>div.queue>ul.queue-container>li:after {
  color: #00bfa5 !important;
  /* color:#FF9800 !important */
}

.m-printer-container>div.queue>ul.queue-container {
  max-height: none !important;
}

.m-printer-container>div.queue>ul.queue-container>li:not(.printing):hover {
  background-color: /* #B2DFDB */
  rgba(178, 223, 219, 0.8) !important;
}

.m-printer-container>div.form>div label {
  width: 100%;
  display: block;
}

.m-printer-container>div.queue>ul.queue-container:empty {
  display: none;
}

.m-printer-container>div.form>div.dpi,
.m-printer-container>div.form>div.forcescale,
.m-printer-container>div.form>div.format,
.m-printer-container>div.form>div.layout {
  float: left !important;
  text-align: left !important;
}

@media only screen and (max-width: 380px) {
  .m-printer-container>div.form>div.dpi,
  .m-printer-container>div.form>div.forcescale,
  .m-printer-container>div.form>div.format,
  .m-printer-container>div.form>div.layout {
      width: 90% !important;
      margin-left: 5% !important;
  }
  .m-printer-container>div.form>div.dpi>select,
  .m-printer-container>div.form>div.format>select,
  .m-printer-container>div.form>div.layout>select {
      width: 100% !important;
  }
}

/*******************
****** catalogsearch
********************/

div.m-sidePanel-manager .m-catalogsearch-container div.results {
  max-height: calc(100vh - 152px);
}

@media only screen and (max-width: 768px) {
  div.m-sidePanel-manager .m-catalogsearch-container .results-panel>div.results {
      width: 100%;
  }
}

/** Eliminamos la flecha arriba*/

div.m-sidePanel-manager .m-catalogsearch-container div.page div.g-cartografia-flecha-arriba {
  display: none;
}

/*******************
****** addservices
********************/

.m-addservices-container {
  min-width: initial !important;
}

/************ SIDEPANEL ***********/

div.m-sidePanel-manager #toolbar-containers-managelayers {
  max-height: calc(100vh - 81.5px);
}

/************ Dialog ***********/

.m-dialog>div.m-modal>div.m-content {
  overflow: auto;
}